# Enables platform-specific build configurations. Automatically applies flags based on host OS.
# Example: build:windows or build:linux to apply OS-specific flags.
common --enable_platform_specific_config

# Example configurations:
# build:windows --copt=/W3 # Sets a specific compiler option for Windows
# build:linux --copt=-Wno-error # Ignores certain compiler warnings on Linux

# Set the C++ language version to C++20.
build --cxxopt=-std=c++20
build:windows --cxxopt=/std:c++20 # TODO: might need to ONLY BE FOR MSVC
#build:macos --action_env=LIBTOOL="$(command -v glibtool)"  # brew install libtool
#build:macos --action_env=AR="$LIBTOOL"  # brew install binutils
#build:macos --action_env=PATH="/opt/homebrew/opt/libtool/libexec/gnubin:$PATH"  # brew install libtool
#build:macos --config=darwin_arm64
# TODO: ---------???? build:macos --cxxopt=-stdlib=libc++

# libomp
#build:macos --action_env=LDFLAGS="-L/opt/homebrew/opt/libomp/lib"        # brew install libomp
#build:macos --action_env=CPPFLAGS="-I/opt/homebrew/opt/libomp/include"   # brew install libomp
#build:macos --copt=-I/opt/homebrew/opt/libomp/include                    # brew install libomp
#build:macos --linkopt=-L/opt/homebrew/opt/libomp/lib                      # brew install libomp
#build:macos --action_env=ARCHFLAGS="-arch arm64"
#build:macos --action_env=ARCHFLAGS="-arch x86_64"
build:macos --action_env=ARCHFLAGS="-arch arm64"
#build:macos --macos_cpus=x86_64,arm64
build:macos --macos_cpus=arm64
build:macos --macos_minimum_os=11.0
#build:macos --cpu=darwin_arm64
#build:macos --host_cpu=darwin_arm64
#build:macos --macos_cpus=arm64
#build:macos --macos_cpus=arm64

#build --copt=-I$(brew --prefix libomp)/include
#build --linkopt=-L$(brew --prefix libomp)/lib
# Bazel's C++ rules now allow the selection of toolchains through platforms.
# Use --incompatible_enable_cc_toolchain_resolution to enable this feature.
# # https://docs.bazel.build/versions/4.2.2/platforms-intro.html#c
#
# New way to configure a C++ project:
# $ bazel build //:my_cpp_project --platforms=//:myplatform
#
# Legacy method (replaced by the above command):
# $ bazel build //:my_cpp_project --cpu=... --crosstool_top=... --compiler=...
#
# Note: This mode is not enabled by default due to dependencies in Android and iOS projects.
# Enabling it may require adding platform support for Android and iOS.
# See #7260 and Configuring C++ toolchains for migration guidance.
build --incompatible_enable_cc_toolchain_resolution

# Thrust configuration.
build:linux --@com_github_nvidia_thrust//:thrust_host_system=TBB
build:linux --@com_github_nvidia_thrust//:thrust_device_system=CUDA
build:windows --@com_github_nvidia_thrust//:thrust_host_system=TBB
build:windows --@com_github_nvidia_thrust//:thrust_device_system=CUDA
build:macos --@com_github_nvidia_thrust//:thrust_host_system=CPP
build:macos --@com_github_nvidia_thrust//:thrust_device_system=OPENMP

# Specifies the number of concurrent jobs that Bazel will try to execute.
build --jobs=20
#build:windows --action_env=BAZEL_VC="/c/Program Files (x86)/Microsoft Visual Studio/2022/BuildTools"

# Building with optimization and verbose on failures.
build -c opt #--verbose_failures

# Set test output to be streamed directly to the console.
test --test_output=all
test --test_summary=detailed

#run --experimental_enable_bzlmod
#--test_output=<summary, errors, all or streamed> default: "summary"
#Specifies desired output mode. Valid values are 'summary' to output only test status summary,
# 'errors' to also print test logs for failed tests, 'all' to print logs for all tests and
# 'streamed' to output logs for all tests in real time (this will force tests to be executed locally one at a time regardless of --test_strategy value).
#Tags: test_runner, terminal_output, execution
#--test_summary=<short, terse, detailed, none or testcase> default: "short"
#Specifies the desired format of the test summary. Valid values are 'short' to print information only about tests executed, 'terse', to print information only about unsuccessful tests that were run, 'detailed' to print detailed information about failed test cases, 'testcase' to print summary in test case resolution, do not print detailed information about failed test cases and 'none' to omit the summary.
#Tags: terminal_output

# Setting disk cache directory.
#build --disk_cache=~/.cache/bazel

# CPU setting for target and host machines.
# You should replace 'k8' with the appropriate value for your system.
#build --cpu=k8
#build --host_cpu=k8

# Enable debug outputs for sandboxing.
build --sandbox_debug
#build --copt=-Dredacted='\\\"redacted\\\"'

# Debug test with environment variable for shared libraries.
#test -c dbg --test_env=LD_LIBRARY_PATH=/usr/local/lib

