[submodule "pydin"]
	path = pydin
	url = git@github.com:geoffreygarrett/pydin.git

[submodule "odin"]
	path = odin
	url = git@github.com:geoffreygarrett/odin.git

[submodule "mimir/library"]
	path = mimir/library
	url = git@github.com:geoffreygarrett/mimir-library.git
